<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Art Auction - About us</title>
    <link rel="icon" type="x-index" href="../../resources/images/icon.ico">
    <link rel="stylesheet" href="../../resources/css/about stylesheet.css">
</head>

<body>
    <div class="container">
        <h1>About Harmony Art Auction</h1>
        <p>Welcome to Harmony Art Auction, the premier online platform for art enthusiasts and collectors. Our mission is to create a harmonious space that connects artists and buyers from around the world.</p>

        <h2>Our Vision</h2>
        <img src="../../resources/images/banners/ourVision.png" alt="Logo 1" class="logos">

        <p>At Harmony Art Auction, we believe in the transformative power of art. We envision a world where creativity is celebrated, artists are supported, and art is accessible to all. Through our platform, we strive to provide a seamless and enjoyable experience for both artists and buyers.</p>        

        <h2>How It Works</h2>
        <img src="../../resources/images/banners/howItWorks.png" alt="Logo 1" class="logos">

        <p>Harmony Art Auction brings together a curated selection of artworks from emerging and established artists. Here's how our platform works:</p>

        <ol>
            <li>Artists submit their artworks for consideration.</li>
            <li>Our expert team reviews and selects the best artworks.</li>
            <li>The selected artworks are featured in our online auction catalog.</li>
            <li>Buyers can browse the catalog, place bids, and participate in the auction.</li>
            <li>To participate in the auction you need to be registered, and then login with your username select the customer option and get your bidding password.</li>
            <li>If you're an artist and want to upload your artwork, you also need to be registered login with your username select the artist option and get your uploading password.</li>
            <li>At the end of the auction, the highest bidders win the artworks.</li>
            <li>We facilitate secure transactions and ensure safe delivery of the artworks.</li>
        </ol>

        <a href="auth/register.html"><h2>Join Us</h2></a>
        <p>Whether you're an artist looking to showcase your work or a collector seeking unique pieces, we invite you to join our vibrant community. Register on our website to stay updated with the latest auctions, explore exceptional artworks, and be a part of the Harmony Art Auction family.</p>
    </div>
</body>

</html>