<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Art Auction - Artists</title>
    <link rel="icon" type="x-index" href="../../resources/images/icon.ico">
    <link rel="stylesheet" type="text/css" href="../../resources/css/artists.css">
</head>
<body>
    <header>
        <h1>Artists</h1>
      </header>
    
      <section id="artists1">
        <h2>Active artists</h2>
        <div class="artwork">
          <img src="../../resources/images/artist5.jpg" alt="Artwork 1">
          <h3>Aida Negash</h3>
          <p>Is a new artist, Has 3 paintings in the auction.</p>
        </div>
        <div class="artwork">
          <img src="../../resources/images/artist8.jpg" alt="Artwork 2">
          <h3>Zara Abate</h3>
          <p>Is an artist with 5 years of amazing track record.</p>
        </div>
        <div class="artwork">
          <img src="../../resources/images/artist1.jpg" alt="Artwork 3">
          <h3>Yonas Birhanu</h3>
          <p>Is an emerging artist, with great work.</p>
        </div>
      </section>
    
      <section id="artists1">
        <div class="artwork">
          <img src="../../resources/images/artist7.jpg" alt="Artwork 1">
          <h3>Meron Haile</h3>
          <p>Has about 10 years of experience.</p>
        </div>
        <div class="artwork">
          <img src="../../resources/images/artist6.jpg" alt="Artwork 2">
          <h3>Henok Desta</h3>
          <p>A new artist, with great potential.</p>
        </div>
        <div class="artwork">
          <img src="../../resources/images/artist2.jpg" alt="Artwork 3">
          <h3>Rahel Kebede</h3>
          <p>A great emerging artist, with great work.</p>
        </div>
      </section>

      <section id="artists2">
        <h2>Currently inactive artists</h2>
        <div class="artwork">
          <img src="../../resources/images/artist3.jpg" alt="Artwork 1">
          <h3>Tewodros Hailu</h3>
          <p>Considered one of the greatest artist, but he is retired.</p>
        </div>
        <div class="artwork">
          <img src="../../resources/images/artist4.jpg" alt="Artwork 2">
          <h3>Solomon Tadesse</h3>
          <p>This is his final work, he is going to be retired after this auction.</p>
        </div>
      </section>
    
</body>
</html>