<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Art Auction</title>
    <link rel="icon" type="x-index" href="../../resources/images/icon.png">
    <link rel="stylesheet" href="../../resources/css/styleForArtist.css">
    <script src="https://kit.fontawesome.com/8693f8f216.js" crossorigin="anonymous"></script>
    <script src="../../resources/js/script.js"></script>
</head>
<body>

<section class="home">
<div class="nav-bar">
  <div>
     <ul>
          <li class="logo" type="logo"><a href="../views/index.html"><img src="../../resources/images/icon.png" alt="logo" width="200" height="200"></a></li>
          <li><a href="../../App/views/ForArtist.html" class="nav-bar-items">Home</a></li>
          <li><a href="artists.html" class="nav-bar-items">Artists</a></li>
          <li><a href="about.html" class="nav-bar-items">About</a></li>
          <li><a href="auth/signin.html"><button class="sign-in" type="menu">Login</button></li></a>
          <li><a href="auth/register.html"><button class="sign-up">Register</button></li></a>
          <li><a href="#" id="pp" type="profile-picture"><img src="../../resources/images/profile.png" alt="pp" class="profile-pic" ></a></li>
     </ul>
     <h1><span>Upload</span> your arts for a bidding and <br> get <span>recognized!</span></h1><br><br>
     <h4>Compete with the best artists and get selected by our team. <br> 
      We select the best artwork; this will increase your popularity <br> and recognition!</h4>
    </div>
</div>
</section>

<div class="cont">
  <h1>About Harmony Art Auction</h1>
  <p>Welcome to Harmony Art Auction, the premier online platform for art enthusiasts and collectors. Our mission is to create a harmonious space that connects artists and buyers from around the world.</p>

  <a href="about.html"><button class="learn-more" type="menu">Learn more</button></a>
</div>

<section class="uploadSect">
  <label for="password" id="labForTB"><b>Uploading password: </b></label>
  <input id="textBox" type="password" placeholder="Uploading password">

  <div class="container" id="imgBox"></div>
  <input type="file" accept="image/*" name="image" id="file" style="display: none;" onchange="loadFile(event)">
  <label for="file"><img src="../../resources/images/uploadicon.png" class="upload_icon" title="Upload art"></label>

</section>

  <div class="container2">
    <form action="">
    <label for="name"><b>Full name: </b></label>
    <input class="textBox" id="Fullname" type="text" placeholder="full name">
    <label for="name"><b>Starting date: </b></label>
    <input class="textBox" id="StDate" type="text" placeholder="starting date">
    <label for="name"><b>Minimum bid: </b></label>
    <input class="textBox" id="MinBid" type="text" placeholder="minimum bid">
  
    <input id="btn" type="submit" name="button" value="Submit" onclick="func3()"/><br>
    <input id = "btn2" type="reset" value="Reset"/>
  </form>
  </div>

  <footer class="foot">
    <section id="contact">
      <br><h2>Contact Us</h2><br>
      <p>If you have any questions or inquiries, please contact us at <br><br>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-telegram"></i></a><br><br>
        <i class="fa-solid fa-mobile-screen-button"></i>+251908898667<br>
        <i class="fa-solid fa-mobile-screen-button"></i>+251916707882<br>
            <br><i class="fa-solid fa-envelope"></i>harmonyartauction@gmail.com
      </p>
    </section>
  
      <a href="auth/termsAndCond.html" class="foot-bar-lists">Terms and condtions</a>
      <a href="auth/privacyPolicy.html" class="foot-bar-lists">Privacy policy</a>
      <a href="auth/contact.html" class="foot-bar-lists">Contact Us
  </footer>
  <h6>Copyright &copy; 2024 Harmony art auction</h6>

  <script>
    var imgBox = document.getElementById("imgBox");

    var loadFile = function(event){
      imgBox.style.backgroundImage = "url(" +URL.createObjectURL(event.target.files[0])+ ")";
    }
  </script>
</body>
</html>