<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Art Auction</title>
    <link rel="icon" type="x-index" href="../../resources/images/icon.ico">
    <link rel="stylesheet" href="../../resources/css/ForCust stylesheet.css">
    <script src="https://kit.fontawesome.com/8693f8f216.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="nav-bar">
  <div>
     <ul>
          <li class="logo" type="logo"><a href="index.html"><img src="../../resources/images/logo.png" alt="logo" width="200" height="200"></a></li>
          <li><a href="ForCust.html" class="nav-bar-items">Home</a></li>
          <li><a href="Ongoing Auction page.php" class="nav-bar-items">Auctions</a></li>
          <li><a href="artists.html" class="nav-bar-items">Artists</a></li>
          <li><a href="about.html" class="nav-bar-items">About</a></li>
          <li><a href="auth/signin.php"><button class="sign-in" type="menu">Login</button></a></li>
          <li><a href="auth/register.php"><button class="sign-up">Register</button></a></li>
          <li><a href="#" id="pp" type="profile-picture"><label for="file"><img src="../../resources/images/profile.png" alt="pp" id="profile-pic" ></label></a></li>
     </ul>
     <h1><span>Bidding Begins:</span> Unlock the <br> Beauty Within!</h1>
     <h4>Discover captivating artworks, engage in exhilarating bidding, 
      <br>and connect with a vibrant community of artists and collectors on our art 
      <br>auction website.</h4>
    </div>
</div>

<div class="cont">
  <h1>About Harmony Art Auction</h1>
  <p>Welcome to Harmony Art Auction, the premier online platform for art enthusiasts and collectors. Our mission is to create a harmonious space that connects artists and buyers from around the world.</p>

  <a href="about.html"><button class="learn-more" type="menu">Learn more</button></a>
</div>

<h1 class="fa1">Featured Artworks</h1><br>
  
  <div id="countdown"></div>

  <div class="Auctions">
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image.jpg" target="_blank"><img src="../../resources/images/image.jpg" alt="img1" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Aida Negash</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
          <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
        </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image1.jpg" target="_blank"><img src="../../resources/images/image1.jpg" alt="img2" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Aida Negash</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
          <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image2.jpg" target="_blank"><img src="../../resources/images/image2.jpg" alt="img3" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Aida Negash</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
          <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image3.jpg" target="_blank"><img src="../../resources/images/image3.jpg" alt="img4" class="img"></a>
        <div class="auction-details">
           <p class="artist-name"><h2>Zara Abatee</h2></p>
           <p class="start-date">Start Date: 2023-10-25</p>
           <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
          </div>
     </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image4.jpg" target="_blank"><img src="../../resources/images/image4.jpg" alt="img5" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Zara Abatee</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
          <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image5.jpg" target="_blank"><img src="../../resources/images/image5.jpg" alt="img6" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Yonas Birhanu</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
          <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image6.jpg" target="_blank"><img src="../../resources/images/image6.jpg" alt="img7" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Yonas Birhanu</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
    </div>
  </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image7.jpg" target="_blank"><img src="../../resources/images/image7.jpg" alt="img8" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Yonas Birhanu</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
    </div>
  </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image8.jpg" target="_blank"><img src="../../resources/images/image8.jpg" alt="img9" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Meron Haile</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
    </div>
  </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image9.jpg" target="_blank"><img src="../../resources/images/image9.jpg" alt="img9" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Meron Haile</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <a href="Ongoing Auction page.php"><button class="view-auction">View Auction</button></a>
      </div>
    </div>
  </div>
</div>

<footer class="foot">
  <section id="contact">
    <br><h2>Contact Us</h2><br><br>
    <p>If you have any questions or inquiries, please contact us at <br><br><br>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-brands fa-telegram"></i></a><br><br><br>
      <i class="fa-solid fa-mobile-screen-button"></i>+251908898667<br>
      <i class="fa-solid fa-mobile-screen-button"></i>+251916707882<br><br>
          <br><i class="fa-solid fa-envelope"></i>harmonyartauction@gmail.com
    </p>
  </section>

    <a href="auth/termsAndCond.html" class="foot-bar-lists">Terms and condtions</a>
    <a href="auth/privacyPolicy.html" class="foot-bar-lists">Privacy policy</a>
    <a href="auth/contact.php" class="foot-bar-lists">Contact Us
</footer>
<h6>Copyright &copy; 2024 Harmony art auction</h6>

</body>
</html>