<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="x-index" href="../../resources/images/icon.ico">
    <link rel="stylesheet" href="../../resources/css/style index.css">
    <title>Harmony Art Auction</title>
</head>
<body>

    <h1>Harmony Art Auction</h1>

    <div class="container">
        <h2>Are you a Customer or an Artist?</h2>

        <div class="btnAll">
            <a href="ForCust.html"><div class="btn">Customer</div></a>
            <a href="ForArtist.php"><div class="btn">Artist</div></a>
        </div>
    </div>
</body>
</html>