<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Art Auction - Auctions</title>
    <link rel="icon" type="x-index" href="../../resources/images/icon.png">
    <link rel="stylesheet" href="../../resources/css/ongoing auction stylesheet.css">
    <script src="../../resources/js/script.js"></script>
</head>
<body>

<div class="nav-bar">
  <div>
     <ul>
          <li><a href="../../App/views/ForCust.html" class="nav-bar-items">Home</a></li>
          <li><a href="Ongoing Auction page.html" class="nav-bar-items">Auctions</a></li>
          <li><a href="artists.html" class="nav-bar-items">Artists</a></li>
          <li><a href="about.html" class="nav-bar-items">About</a></li>
          <li><a href="auth/signin.html"><button class="sign-in" type="menu">Login</button></li></a>
          <li><a href="auth/register.html"><button class="sign-up">Register</button></li></a>
          <li><a href="#" id="pp" type="profile-picture"><img src="../../resources/images/profile.png" alt="pp" class="profile-pic" ></a></li>
     </ul>
  </div>
</div>

<h1 class="fa">Ongoing Auctions</h1><br>
  <label for="password" id="labForTB"><b>Bidding password: </b></label>
  <input id="textBox" type="password" placeholder="Bidding password">
  <div id="countdown"></div>

<div class="Auctions">
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image.jpg"><img src="../../resources/images/image.jpg" alt="img1" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Aida Negash(art1)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
          <p class="current-bid" id="art1">Current Bid: $<label id="p1">1500</label></p>
          <button class="view-auction" id="btn1" name="btn1" onclick="func2()">Bid</button>
          <label class="sold"></label>
        </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image1.jpg"><img src="../../resources/images/image1.jpg" alt="img2" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Aida Negash(art2)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
          <p class="current-bid" id="art2">Current Bid: $<label id="p2">1500</label></p>
          <button class="view-auction" id="btn2" name="btn2" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image2.jpg"><img src="../../resources/images/image2.jpg" alt="img3" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Aida Negash(art3)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art3">Current Bid: $<label id="p3">2000</label></p>
          <button class="view-auction" id="btn3" onclick="func2()">Bid</button>
          <label class="sold"></label>
        </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image3.jpg"><img src="../../resources/images/image3.jpg" alt="img4" class="img"></a>
        <div class="auction-details">
           <p class="artist-name"><h2>Zara Abatee(art4)</h2></p>
           <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art4">Current Bid: $<label id="p4">1800</label></p>
           <button class="view-auction" id="btn4" onclick="func2()">Bid</button>
           <label class="sold"></label>
          </div>
     </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image4.jpg"><img src="../../resources/images/image4.jpg" alt="img5" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Zara Abatee(art5)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art5">Current Bid: $<label id="p5">2500</label></p>
          <button class="view-auction" id="btn5" onclick="func2()">Bid</button>
          <label class="sold"></label>
        </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image5.jpg"><img src="../../resources/images/image5.jpg" alt="img6" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Yonas Birhanu(art6)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art6">Current Bid: $<label id="p6">3500</label></p>
          <button class="view-auction" id="btn6" onclick="func2()">Bid</button>
          <label class="sold"></label>
        </div>
      </div>
    </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image6.jpg"><img src="../../resources/images/image6.jpg" alt="img7" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Yonas Birhanu(art7)</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art7">Current Bid: $<label id="p7">4500</label></p>
        <button class="view-auction" id="btn7" onclick="func2()">Bid</button>
        <label class="sold"></label>
      </div>
    </div>
  </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image7.jpg"><img src="../../resources/images/image7.jpg" alt="img8" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Yonas Birhanu(art8)</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art8">Current Bid: $<label id="p8">1500</label></p>
        <button class="view-auction" id="btn8" onclick="func2()">Bid</button>
        <label class="sold"></label>
    </div>
    </div>
  </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image8.jpg"><img src="../../resources/images/image8.jpg" alt="img9" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Meron Haile(art9)</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art9">Current Bid: $<label id="p9">3000</label></p>
        <button class="view-auction" id="btn9" onclick="func2()">Bid</button>
        <label class="sold"></label>
    </div>
    </div>
  </div>
  <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image9.jpg"><img src="../../resources/images/image9.jpg" alt="img10" class="img"></a>
      <div class="auction-details">
        <p class="artist-name"><h2>Meron Haile(art10)</h2></p>
        <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art10">Current Bid: $<label id="p10">1500</label></p>
        <button class="view-auction" id="btn10" onclick="func2()">Bid</button>
        <label class="sold"></label>
    </div>
    </div>
  </div>
  <div class="images">  
    <div class="image-with-details">
      <a href="../../resources/images/image11.jpg"><img src="../../resources/images/image11.jpg" alt="img1" class="img"></a>
      <div class="auction-details">
         <p class="artist-name"><h2>Henok Desta(art11)</h2></p>
         <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art11">Current Bid: $<label id="p11">4500</label></p>
         <button class="view-auction" id="btn11" onclick="func2()">Bid</button>
         <label class="sold"></label>
    </div>
    </div>
  </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/image12.jpg"><img src="../../resources/images/image12.jpg" alt="img2" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Henok Desta(art12)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art12">Current Bid: $<label id="p12">5000</label></p>
          <button class="view-auction" id="btn12" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/1.jpg"><img src="../../resources/images/1.jpg" alt="img3" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Henok Desta(art13)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art13">Current Bid: $<label id="p13">2500</label></p>
          <button class="view-auction" id="btn13" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/2.jpg"><img src="../../resources/images/2.jpg" alt="img4" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Henok Desta(art14)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art14">Current Bid: $<label id="p14">3500</label></p>
          <button class="view-auction" id="btn14" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/3.jpg"><img src="../../resources/images/3.jpg" alt="img5" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Rahel Kebede(art15)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art15">Current Bid: $<label id="p15">1500</label></p>
          <button class="view-auction" id="btn15" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/4.jpg"><img src="../../resources/images/4.jpg" alt="img6" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Tewodros Hailu(art16)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art16">Current Bid: $<label id="p16">6500</label></p>
          <button class="view-auction" id="btn16" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/5.jpg"><img src="../../resources/images/5.jpg" alt="img7" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Solomon Tadesse(art17)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art17">Current Bid: $<label id="p17">2700</label></p>
          <button class="view-auction" id="btn17" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/6.jpg"><img src="../../resources/images/6.jpg" alt="img8" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Solomon Tadesse(art18)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art18">Current Bid: $<label id="p18">3500</label></p>
          <button class="view-auction" id="btn18" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/7.jpg"><img src="../../resources/images/7.jpg" alt="img9" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Solomon Tadesse(art19)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art19">Current Bid: $<label id="p19">5000</label></p>
          <button class="view-auction" id="btn19" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
    <div class="images">
      <div class="image-with-details">
        <a href="../../resources/images/8.jpg"><img src="../../resources/images/8.jpg" alt="img10" class="img"></a>
        <div class="auction-details">
          <p class="artist-name"><h2>Solomon Tadesse(art20)</h2></p>
          <p class="start-date">Start Date: 2023-10-25</p>
        <p class="current-bid" id="art20">Current Bid: $<label id="p20">1500</label></p>
          <button class="view-auction" id="btn20" onclick="func2()">Bid</button>
          <label class="sold"></label>
      </div>
      </div>
    </div>
</div>

<footer class="foot">
    <a href="auth/termsAndCond.html" class="foot-bar-lists">Terms and condtions</a>
    <a href="auth/privacyPolicy.html" class="foot-bar-lists">Privacy policy</a>
    <a href="auth/contact.html" class="foot-bar-lists">contact Us</a>
</footer>
</body>
</html>