@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f8f8;
}

h1 {
  color: #fff;
  background-color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #333;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

h1:hover,
h2:hover {
  background-color: #333;
  color: #fff;
  transition: 0.5s;
  border-radius: 5px;
}

p {
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family:'Poppins';
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
}

.container li{
  font-weight: bold;
  font-family: 'Poppins';
}

.logos {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
}
a{
  text-decoration: none;
}