@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


*{
    padding: 0px;
    margin: 0px;
  }

  body{
    width: 100%;
    height: 100%;
  }

  .nav-bar{
    height: 600px;
    background-image: linear-gradient(rgba(0,12,12,0.6),rgba(12,13,12,0.6)), url(../images/backgroundImg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-bar ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content:center;
    padding-top: 20px;
    position: relative;
  }

  .nav-bar h1{
    color: #dfdfdf;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    
  }

  .nav-bar h1 span{
    color: green;
    transition: 1s;
  }

  .nav-bar h1 span:hover{
    font-size: 42px;
    transition: 1s;
  }

  .nav-bar h4{
    display: flex;
    justify-content: center;
    color: #dfdfdf;
    text-align: center;
    margin-top: 25px;
    font-family: 'Poppins';
    font-size: 13px;
  }

  .nav-bar-items{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-right: 100px;
    text-align: center;
    text-decoration: none;
    color: #dfdfdf;
    transition: 0.5s;
  }

  .logo{
    font-size: 20px;
    font-weight: bold;
    padding-right: 100px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: #333;
  }

  .nav-bar-items:hover{
    color: green;
    font-size: 30px;
    transition: all 0.5s ease-in-out;
  }

  .sign-in, .sign-up, .learn-more{
    position: relative;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
  }

  .sign-in, .learn-more{
    margin-right: 10px;
    text-align: center;

  }

  .sign-in:hover, .sign-up:hover{
    color: green;
    background-color: white;
    transition: 0.5s;
  }

  .learn-more:hover{
    color: green;
    background-color: white;
    transition: 0.5s;
    border: 1px solid green;
  }

  #pp{
    padding-left: 20px;
  }

  #profile-pic {
    max-width: 30px;
    max-height:30px;
    border-radius: 50%;
    object-fit: cover;
  }

  .cont {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    height: 70vh;
  }  

  .cont h1 {
    color: #fff;
    background-color: #333;
    font-size: 32px;
    font-family: 'Open sans', sans-serif;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    margin-top: 90px;
  }
  
  .cont h1:hover{
    background-color: #333;
    color: #fff;
    transition: 0.5s;
    border-radius: 5px;
  }
  
  .cont p {
    line-height: 1.6;
    margin-bottom: 40px;
    font-family: 'Poppins';
  }

  .fa1{
    padding-left: 40px;
    font-weight: bold;
    font-size: 45px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .fa1:hover{
    color: green;
  }

  .Auctions {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    gap: 10px;
    padding-left: -15px;
    padding-right: -15px;
  }

  #countdown {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins';
  }
  
  #labForTB{
    margin-left: 20px;
  }

  .img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    background-position: center;
  }

  .img:hover{
    cursor: pointer;
  }

  
  .images {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   text-align: center;
   box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);

  }

  .image-with-details {
   position: relative;
  }

  .auction-details {
   padding: 10px;
   margin-top: -10px;
  }

  .auction-details p {
    color: #070000;
    font-weight: bold;
   margin: 0;
   font-size: 18px;
   word-spacing: 3px;
   text-align: center;
   font-family: 'Poppins';
  }

  .auction-details h2 {
   margin-bottom: 10px;
   font-size: 30px;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
  } 

  .auction-details button{
   padding: 8px 16px;
   font-size: 15px;
   font-weight: bold;
   background: linear-gradient(90deg, #35a845, #24733e);
   border: none;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   justify-content: center;
   margin-top: 9px;
   margin-bottom: 20px;
   animation: button  1s linear infinite;
  }

@keyframes button{
  0%{background: linear-gradient(0deg, #06bb1e, #128d3b);
  }
  12%{background: linear-gradient(45deg, #06bb1e, #128d3b);
  }
  24%{background: linear-gradient(95deg, #06bb1e, #128d3b);
  }
  36%{background: linear-gradient(60deg, #06bb1e, #128d3b);
  }
  48%{background: linear-gradient(145deg, #06bb1e, #128d3b);
  }
  60%{background: linear-gradient(195deg, #06bb1e, #128d3b);
  }
  72%{background: linear-gradient(245deg, #06bb1e, #128d3b);
  }
  100%{background: linear-gradient(360deg, #06bb1e, #128d3b);
  }
  
}

  .foot{
    height: 90vh;
    background-color: rgb(209, 207, 207);
    text-align: center;
    justify-content:center;
    padding-top: 5px;
    padding-left: 90px;
    padding-right: 80px;
    text-decoration: none;
    color: #333;
    display: flex;
  }

  #contact{
    padding-top: 80px;
  }

  .foot h2{
    font-family: 'Open Sans', sans-serif;
  }

  .foot p{
    color: #070000;
    font-weight: bold;
    font-family: 'Poppins';
  }

  .foot-bar-lists{
    color: #070000;
    font-weight: bold;
    text-align: center;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    font-family: 'Poppins';
    padding-top: 5px;
    padding-left: 60px;
    padding-right: 80px;
    text-decoration: none;
    display: flex;
  }

  .foot-bar-lists:hover{
    color: green;
    cursor: pointer;
    transition: 2s;
  }

  .fa-facebook {
    font-size: 20px;
    color: #335ff0;
  }
  
  .fa-twitter {
    font-size: 20px;
    color: aqua;
  }
  
  .fa-instagram {
    font-size: 20px;
    color:orangered;
  }
  
  .fa-youtube {
    font-size: 20px;
    color: red;
  }
  
  .fa-telegram {
    font-size: 20px;
    color: #3dafa5;
  }

@media (max-width: 768px) {
  
  .nav-bar-items{
    padding-right: 20px;
  }

  .logo{
    padding-right: 0px;
    padding-left: 100px;
    padding-top: 80px;
  }

  .sign-in, .sign-up, #profile-pic{
    position: relative;
    top: 40px;
    right: 260px;
  }

  .Auctions{
    display: block;
    position: relative;
    left: 30%;
  }

  .images{
    width: 250px;
    margin-bottom: 20px;
  }

  .foot{
    display: block;
    height: 110vh;
  }
  #contact{

    padding-top: 0px;
    padding-bottom: 100px;
  }
  .foot-bar-lists{
    padding-bottom: 0px;
  }
}