@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    background-color: #d0d3d0;
    display: flex;
    justify-content: center;
}

h1{
    position: absolute;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Poppins';
}

.container{
    background-color: cornflowerblue;
    border-right: #a0a0a0 1px solid;
    border-left: #a0a0a0 1px solid;
    border-bottom: #a0a0a0 1px solid;
    border-radius: 25px 0 25px 0;
    text-align: center;
    width: 360px;
    position: relative;
    top: 150px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);

}

.btnAll{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}

.btnAll .btn{
    display: flex;
    margin-inline: 35px;
    color: #fff;
    font-weight: bold;
    background-color: green;
    width: 82px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.4s;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color: green;
    transform: scale(1.2);
    transform: rotateZ(360deg);
    transition: 0.4s;
}