@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
  background-color: rgb(15, 11, 11);
}

::selection {
  background-color: red; /* Set the desired background color */
  color: #ffffff; /* Set the text color */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

header {
  margin: -8px;
  margin-top: -16px;
  background-color: #f2f2f2;
  color: #f2f2f2;
  text-align: center;
  height: 120vh;
  background-image: url(images/servicesBack.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  animation: animate 16s ease-in-out infinite;
}

.outer{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 120vh;
  background: rgba(0,0,0,0.2);
}

header img{
  width: 370px;
  height: 150px;
  margin-top: 130px;
}

header h1{
  margin-top: 200px;
  font-family: 'Montserrat';
  margin-bottom: 100px;
  font-size: 70px;
}

header h1 a{
  text-decoration: none;
  color: #ddd;
}

nav#nav {
  width: 100%;
  height: 65px;
  line-height: 65px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  padding: 0 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition:1s;
}

nav#nav:hover{
  background: white;
  transition:1s;
  color: #fff;
}

.left-ul li {
  list-style: none;
  float: left;
  margin-top: -130px;
}

.left-ul li img{
  width: 35px;
  height: 40px;
}

.right-ul li {
  display: inline-block;
}

.right-ul li a {
  text-decoration: none;
  display: block;
  padding: 0 23px;
  color: red;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.right-ul li a::after {
  color: black;
  transition: 0.5s;
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.right-ul li a:hover::after {
  color: #f44336;
  width: 100%;
}

.toggle {
  position: absolute;
  z-index: 3;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background:rgb(172, 3, 3);
  color: white;
  top: 10px;
  right: 20px;
  cursor: pointer;
  display: none;
  transition: 0.5s;
}

.toggle:hover {
  color:rgb(172, 3, 3);
  background: white;
  transition: 0.5s;
}

.about-mineral{
  background: #f2f2f2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  text-align: center;
}

.about-mineral img{
  border-radius: 15px;
}

.about-mineralT{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-mineralT h3{
  font-size: 25px;
  color: rgb(172, 3, 3);
  text-transform: uppercase;
}

.about-mineralD p{
  width: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;
}

.about-mineralD{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-mineralImg{
  display: flex;
  gap: 5px;
}

.hero {
  color: rgb(172, 3, 3);
  text-align: center;
  font-size: 50px;
  padding: 200px 20px;
  height: 5vh;  
}

/*-----parts-----*/

section {
    padding: 20px;
    text-align: center;
  }

.home_cou{
    background: #222222;
    margin: -8px;
  }
  .course{
    margin: auto;
    text-align: center;
    margin: -8px;
  }
  
  .course h2{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
  }
  
  p{
    line-height: 22px;
    padding: 10px;
  }
  
  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
  }
  
  .row a {
    text-decoration: none;
  }
  
  .course-col{
    flex-basis: 31%;
    background: white;
    border-radius: 13px 13px 30px 30px;
    margin-bottom: 5%;
    border: black 10px solid;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  .course-col h3{
    color: red;
    font-size: 25px;
  }
  
  .course-col p{
    color: black;
  }
  
  .course-col a{
    text-decoration: none;
    color: white;
    font-size: 70px;
    font-family: "DM serif display";
  }
  
  .purchase{
    background-color: #d80808;
    border-radius: 0 0 30px 30px;
    width: 100%;
  }
  
  .course-col img{
      width: 150px;
      height: 150px;
      border-radius: 15px;
  }
  .course-col2 img{
    width: 300px;
    height:250px;
    border-radius: 15px;
  }
  h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
  }
  .course-col:hover{
    transform: scale(1.1);
  }

  /* Map */
  .map{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f2f2f2;
  }

  .map iframe{
    width: 100%;
    height: 100%;
  }
  
    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      margin: -8px;
    }
  
    footer a{
      color: #777;
      text-decoration: none;
    }
    footer a:hover{
      color: red;
    }
  
    /*Layer index2*/
    .layer{
      background: transparent;
      height: 80%;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      transition: 0.5s;
  }
  
  .layer h3{
    color: #222222;
  }
  
  .layer:hover{
      background: white;
  }
  .layer p{
      width: 100%;
      font-weight: 400;
      color: #222222;
      font-size: 15px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      opacity: 0;
      transition: 0.5%;
  }
  .layer:hover p{
      bottom: 0;
      opacity: 1;
  }

  footer {
    background-color: rgb(15, 11, 11);
    color: #fff;
    margin: -8px;
    max-height: 115vh;
    height: 140vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }

  footer h2{
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(172, 3, 3);
    margin-top: 80px;
  }

  footer h2::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  footer h2:hover::after{
    width: 200px;
  }

  #contact p{
    font-family: 'Great Vibes', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(172, 3, 3);
    font-weight: bold;
    font-size: 25px;
  }

  footer a{
    color: #777;
    text-decoration: none;
  }
  footer a:hover{
    color: red;
  }

  .cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cont-wrap2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.cont2{
  width: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cont2 .ho{
    width: 100%;
    background: rgb(58, 19, 5);
}

.cont2 a{
  margin-bottom: 40px;
}

.cont2 a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.cont2 a:hover::after{
  width: 100%;
}

.cont3 {
  width: auto;
  margin-top: 30%;
  padding: 20px;
  float: right;
}

.input-field {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-field input,
.input-field textarea {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(15, 11, 11);
  color: #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #222222;
}

.input-field textarea {
  resize: vertical;
  height: 50px;
}

.input-field input[type="submit"] {
  background-color: rgb(58, 19, 5);
  border: none;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.input-field input[type="submit"]:hover {
  background-color: rgb(77, 23, 4);
  border: 1px solid #45a049;
  transition: 1s;
}

.input-field input:focus,
.input-field textarea:focus {
    outline: none;
    border-color: #ccc;
    transition: 0.5s;
}

.fa {
  font-size: 15px;
  transition: 1s;
}

.fa-brands{
  font-size: 15px;
  transition: 1s;
}

.fa-solid{
  color: rgb(162, 145, 145);
}

.fa:hover {
  color: rgb(172, 3, 3);
  transition: 1s;
}

.fa-brands:hover{
  color: rgb(172, 3, 3);
  transition: 1s;
}

.fa-facebook {
  margin-top: 50px;
  color: #335ff0;
}

.fa-linkedin {
  color: #448fff;
}

.fa-instagram {
  color:orangered;
}

.fa-tiktok {
  color: #ccc;
}

.fa-telegram {
  color: #3dafa5;
}

.copyright{
  font-family: 'Poppins';
  background-color: rgb(15, 11, 11);
  margin-top: -25px;
  margin-bottom: -30px;
  text-align: center;
  border-top: 1px solid #888;
}

.copyright a{
  font-weight: bold;
  text-decoration: none;
  color: #888;
}

.copyright a:hover{
  color: rgb(172, 3, 3);
}

@media(max-width: 765px){
 
  header img{
    width: 350px; 
    height: 150px;
  }

  nav#nav {
    padding: 0 0;
}
.right-ul li {
    float: right;
    display: block;
}

.left-ul li {
    display: block;
}

.left-ul li a {
    padding-left: 10px;
}

.right-ul {
  margin-top: 80px;
  margin-right: 20px;
  display: none;
}

.right-ul li a {
  background: transparent;
  backdrop-filter: blur(20px);
    width: 260px;
    margin-top: 10px;
  }

.toggle {
    display: block;
}

.about-mineral{
  display: block;
}

.about-mineralT img{
  width: 250px;
}

.about-mineralImg{
  display: block;
}

.about-mineralD p{
  width: 250px;
}

.hero{
  font-size: 30px;
}

  .row{
    overflow-x: scroll;
  }

  footer{
    min-height: 190vh;
    grid-template-columns: auto;
    grid-row: auto auto auto;
    text-align: center;
  }

  .cont-wrap2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cont3 {
    float: none;
    margin: 0;
  }
  
}