<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="x-index" href="../../../resources/images/icon.png">
    <link rel="stylesheet" href="../../../resources/css/register.css">
    <title>Register</title>
    <script src="../../../resources/js/script.js"></script>
</head>
<body>

    <div class="container">
    <h2>Register</h2>

    <form action="">
        <label for="name">Full Name</label><br>
        <input id="textBox1" type="text" name="name" placeholder="Your full name" required/><br>

        <label for="name">Preferred username</label><br>
        <input id="textBox2" type="text" name="name" placeholder="Your preferred username" required/><br>

        <label for="phone number">Email</label><br>
        <input id="textBox1" type="email" name="email" placeholder="Your email" required/><br>

        <label for="phone number">Phone</label><br>
        <input id="textBox1" type="tel" name="phone number" placeholder="Your phone number" required/><br>

        <label for="date">Birthdate</label><br>
        <input id="textBox1" type="date" name="date"/><br>

        <label for="gender">Gender </label><br>
        <select name="gender" >
            <option value="order 1">Male</option>
            <option value="order 2">Female</option>
        </select><br>

        <label for="password">Password</label><br>
        <input id="pass" type="password" name="password" placeholder="Your password" required/><br>
        <label for="password">Confirm</label><br>
        <input id="confP" type="password" name="password" placeholder="Confirm password" required/><br>

        <label for="country">Country</label><br>
        <select name="country" >
            <option value="order 1">Ethiopia</option>
            <option value="order 2">Italy</option>
            <option value="order 3">Madagascar</option>
            <option value="order 4">South Africa</option>

        </select><br><br><br>

        <input id = "btn" type="button" name="button" value="Signup" onclick="func4()"><br><br>
        <input id = "btn2" type="reset" value="Reset">

        </div>



    </form>
</body>
</html>